<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscar produtos</title>
</head>
<body>
    <h2>Buscar produtos por codigos</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="codigos">Codigos do produtos:</label>
        <input type="text" name="codigo" id="codigo" required>
        <button type="submit">Buscar</button>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
    </ul>
    {% endif %}
</body>
</html>